html, body, button, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  font-family: 'futter_betamedium';
  font-weight: normal;
}

nav{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #FFFFFF;
  height: 50px;
  padding: 0;
  padding-left: calc( 5vw + 10px );
  padding-right: calc( 5vw + 10px );
  border-bottom: 1px solid #dedede;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
}

.karate{
  font-weight: normal;
  line-height: 50px;
  font-size: 16px;
  margin: 0;
}

.menuWrapper{
  padding-top: -20px;
  height: 20px;
  margin: 15px 0;
  overflow: hidden;
}

.menuWrapper h2{
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-size: 16px;
  transition: all 500ms ease;
  text-align: right;
}

.changeToggle{
  border: none;
  padding: 0;
  background-color: transparent;
  font-weight: normal;
  line-height: 50px;
  font-size: 16px;
  margin: 0;
  outline: none;
}

.applicationWrapper{
  height: calc( 100vh ); /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100 );
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  transition: all 500ms ease;
}

.heroSlider{
  height: calc( 100vh - 50px ); /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100 - 50px);
  scroll-snap-align: start end;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  scroll-snap-type: x mandatory;
  border-bottom: 1px solid #dedede;
  -webkit-overflow-scrolling: touch;
  transition: all 500ms ease;
}

.heroSlider::-webkit-scrollbar { width: 0 !important }
.heroSlider { overflow: -moz-scrollbars-none; }
.heroSlider { -ms-overflow-style: none; }


.heroSliderSpacer{
  min-width: 5vw;
}

.heroSliderItem{
  height: 100%; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: 100%;
  scroll-snap-align: center;
  box-sizing: border-box;
  min-width: 90vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.heroSliderItemTitle{
  font-size: 14px;
  position: sticky;
  margin: 0;
  padding: 0;
}

.heroSliderItemDescription{
  font-size: 14px;
  color: #888888;
  margin: 0;
  padding: 0;
}

.heroSliderItemImage{
  padding: 0;
  flex-grow: 1;
  background-color: darkgrey;
  margin-top: 10px;
  height: 100%;
}

.contentSection{
  scroll-snap-align: none;
  margin-top: -50px;
  box-sizing: border-box;
  min-height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
  padding: 50px calc( 5vw + 10px );
  transition: all 500ms ease;
  overflow: scroll;
}
